<p id="notice"><%= notice %></p>
<body class="bioRhyme">
<p id="notice"><%= notice %></p>

<h1>My Songs</h1>

<%= link_to new_song_path do %>
  <i class="glyphicon glyphicon-plus add-icon"></i> Add
<% end %>

<div class="row">
  <% @songs.each do |song| %>
    <div class="col-md-6">
      <div class="well">
        <h3><%= link_to song.name, song %></h3>
        <p>by <%= link_to song.artist.name, song.artist %></p>
        <p>
          <% song.rating.times do %>
            <i class="glyphicon glyphicon-star yellow-star"></i>
          <% end %>
          <% (10 - song.rating).times do %>
            <i class="glyphicon glyphicon-star"></i>
          <% end %>
        </p>
        <p>
          <%= link_to edit_song_path(song) do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>&nbsp;
          <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>

</body>
